In [3]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
# import data
df = pd.read_csv('data.csv',delimiter=',')
df.head()

,invoice#,date,country,product_id,shop,gender,size_us,size_europe,size_uk,unit_price,discount,year,month,sale_price
0,52389,01-01-2014,United Kingdom,2152,UK2,Male,11.0,44,10.5,159.0,0%,2014,1,159.0
1,52390,01-01-2014,United States,2230,US15,Male,11.5,44-45,11.0,199.0,20%,2014,1,159.2
2,52391,01-01-2014,Canada,2160,CAN7,Male,9.5,42-43,9.0,149.0,20%,2014,1,119.2
3,52392,01-01-2014,United States,2234,US6,Female,9.5,40,7.5,159.0,0%,2014,1,159.0
4,52393,01-01-2014,United Kingdom,2222,UK4,Female,9.0,39-40,7.0,159.0,0%,2014,1,159.0

In [5]:
# check duplicated values
df.duplicated().all()

False

In [7]:
# check null values 
df.isna().all()

invoice#       False
date           False
country        False
product_id     False
shop           False
gender         False
size_us        False
size_europe    False
size_uk        False
unit_price     False
discount       False
year           False
month          False
sale_price     False
dtype: bool

In [10]:
# check datatype
df.dtypes

invoice#         int64
date            object
country         object
product_id       int64
shop            object
gender          object
size_us        float64
size_europe     object
size_uk        float64
unit_price     float64
discount        object
year             int64
month            int64
sale_price     float64
dtype: object

In [11]:
# country names
df.country.unique()

array(['United Kingdom', 'United States', 'Canada', 'Germany'],
      dtype=object)

In [12]:
# year
df.year.unique()

array([2014, 2015, 2016], dtype=int64)

In [ ]:
# create sale data for each country and year 

def procreation(data,country,year):
    aa = data.size_uk.unique().tolist()
    aa.sort()
    dat = {'size_uk':aa}
    df_new = pd.DataFrame(dat)
    for i in range(1,13):
        for j,k in data.month()